body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    
    
}


*,
*:before,
*:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
      overflow-x:hidden;
}

/** HOME **/
h1 {
    margin: auto;
    font-family: "Source Sans Pro", Arial;
    background-color: #40a6e0;
    color: white;
    font-size: 40px;
    text-align:center;
    font-weight:normal;
}

h1 span{
    font-weight: bold;
}
/** END_HOME **/

#menu{
    float: left;
    margin-left: 10px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}