body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    
    
}


*,
*:before,
*:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
      overflow-x:hidden;
}

/** HOME **/
h1 {
    margin: auto;
    font-family: "Source Sans Pro", Arial;
    background-color: #40a6e0;
    color: white;
    font-size: 40px;
    text-align:center;
    font-weight:normal;
    position:fixed;
    top:0px;
    width: 100%;
}

h1 span{
    font-weight: bold;
}

h1 p{
    margin:0px;
}



#rechercher{
    float: left;
    width: 80%;
    height: 50px;
    background-color: rgba(23, 129, 194, 0.39);
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
}

/** END_HOME **/



#menu{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#search{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#data{
    margin-top: 50px;
}

.video{
    
    border: 1px solid black;

}

.video  img{
    float: left;
    width: 45%;
    padding: 2%;
}
.video  h2{
  font-size: 15px;
}

